<div id="plugin_container" class="eqLogic-widget eqLogic" style="width:340px;height:470px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="#version#" >
<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</strong></a
<div style="width:332px;height:446px;margin:auto;padding: 0px 0px">

<script>
    $(".retour_#id#").click(function(){
        $("#panel_#id#").fadeToggle("slow");
        
    });
    
    $(".touche_#id#").click(function(){
        var touche = $(this).attr('data-cmd');
        jeedom.cmd.execute({id: touche});
    });
    
    $('.mosaique_#id#').on('click', function () {
        var mos = $(this).attr('data-cmd_id');
        jeedom.cmd.execute({id: mos});
    });
</script>

<!-- Mosaique -->
<div id="panel_#id#" style="width:332px;height:470px;margin:auto;padding: 0px 0px;display:none;">
    <!-- 1ère ligne -->
    <div>

    <span title="#mos_Mosaïque_1_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_1_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_1_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_1_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_2_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_2_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_2_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_2_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_3_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_3_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_3_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_3_logo#.png /></a>
    </span>

    </div>

    <!-- 2ème ligne -->
    <div>
    <span title="#mos_Mosaïque_4_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_4_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_4_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_4_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_5_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_5_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_5_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_5_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_6_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_6_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_6_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_6_logo#.png /></a>
    </span>
    </div>

    <!-- 3ème ligne -->
    <div>
    <span title="#mos_Mosaïque_7_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_7_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_7_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_7_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_8_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_8_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_8_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_8_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_9_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_9_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_9_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_9_logo#.png /></a>
    </span>
    </div>

    <!-- 4ème ligne -->
    <div>
    <span title="#mos_Mosaïque_10_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_10_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_10_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_10_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_11_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_11_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_11_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_11_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_12_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_12_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_12_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_12_logo#.png /></a>
    </span>
    </div>

    <!-- 5ème ligne -->
    <div>
    <span title="#mos_Mosaïque_13_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_13_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_13_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_13_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_14_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_14_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_14_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_14_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_15_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_15_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_15_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_15_logo#.png /></a>
    </span>
    </div>

    <!-- 6ème ligne -->
    <div>
    <span title="#mos_Mosaïque_16_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_16_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_16_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_16_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_17_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_17_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_17_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_17_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_18_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_18_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_18_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_18_logo#.png /></a>
    </span>
    </div>

    <!-- 7ème ligne -->
    <div>
    <span title="#mos_Mosaïque_19_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_19_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_19_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_19_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_20_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_20_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_20_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_20_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_21_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_21_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_21_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_21_logo#.png /></a>
    </span>
    </div>

    <!-- 8ème ligne -->
    <div>
    <span title="#mos_Mosaïque_22_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_22_id#" style="margin-right: -2px;visibility: #mos_Mosaïque_22_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_22_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_23_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_23_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_23_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_23_logo#.png /></a>
    </span>

    <span title="#mos_Mosaïque_24_nom#" class="mosaique_#id#" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaïque_24_id#" style="margin-left: -2px; margin-right: -2px;visibility: #mos_Mosaïque_24_visib#">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/#mos_Mosaïque_24_logo#.png /></a>
    </span>
    </div>

    <!-- 9ème ligne -->
    <div>
    <span title="Télécommande" class="retour_#id#" style="margin-right: -2px">
    <a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/core/template/dashboard/images/Mosaique/retour.png /></a>
    </span>
    </div>
</div>


<!-- Telecommande touche -->
<div>
<table  style="position:relative;">
    <tbody>
        <tr>
            <td>
                <img src="plugins/JeeOrangeTv/core/template/dashboard/images/Theme/theme_#theme#.png" width="331px" height="445px" class="remote-control" usemap="#Map_#theme#_#id#">
                #etat_decodeur#
                #cmd_chaine_act#
            </td>
        </tr>
    </tbody>
</table>
</div>



<!-- theme grey -->
<map name="Map_grey_#id#" style="display: none;">
<area class="touche_#id#" shape="rect"      coords="0,404,67,445"           title="ON/OFF"          data-cmd="#cmd_ON-OFF_id#" />
<area class="touche_#id#" shape="rect"      coords="0,122,67,180"           title="Menu"            data-cmd="#cmd_MENU_id#" />
<area class="touche_#id#" shape="rect"      coords="265,0,330,58"           title="Back"            data-cmd="#cmd_BACK_id#" />
<area class="touche_#id#" shape="rect"      coords="265,122,330,180"        title="OK"              data-cmd="#cmd_OK_id#" />
<area class="touche_#id#" shape="rect"      coords="133,0,199,58"           title="Up"              data-cmd="#cmd_UP_id#" />
<area class="touche_#id#" shape="rect"      coords="133,122,199,180"        title="Down"            data-cmd="#cmd_DOWN_id#" />
<area class="touche_#id#" shape="rect"      coords="67,58,133,122"          title="Left"            data-cmd="#cmd_LEFT_id#" />
<area class="touche_#id#" shape="rect"      coords="199,58,265,122"         title="Right"           data-cmd="#cmd_RIGHT_id#" />

<area class="touche_#id#" shape="rect"      coords="0,180,67,225"           title="Volume up"       data-cmd="#cmd_VOL+_id#" />
<area class="touche_#id#" shape="rect"      coords="0,225,67,270"           title="Volume down"     data-cmd="#cmd_VOL-_id#" />
<area class="touche_#id#" shape="rect"      coords="0,270,67,314"           title="Mute"            data-cmd="#cmd_MUTE_id#" />

<area class="touche_#id#" shape="rect"      coords="265,180,330,225"        title="Channel up"      data-cmd="#cmd_CH+_id#" />
<area class="touche_#id#" shape="rect"      coords="265,225,330,270"        title="Channel down"    data-cmd="#cmd_CH-_id#" />
<area class="retour_#id#" shape="rect"      coords="265,404,330,445"        title="Mosaique" />

<area class="touche_#id#" shape="rect"      coords="67,180,133,225"         title="1"               data-cmd="#cmd_1_id#" />
<area class="touche_#id#" shape="rect"      coords="133,180,199,225"        title="2"               data-cmd="#cmd_2_id#" />
<area class="touche_#id#" shape="rect"      coords="199,180,265,225"        title="3"               data-cmd="#cmd_3_id#" />

<area class="touche_#id#" shape="rect"      coords="67,225,133,270"         title="4"               data-cmd="#cmd_4_id#" />
<area class="touche_#id#" shape="rect"      coords="133,225,199,270"        title="5"               data-cmd="#cmd_5_id#" />
<area class="touche_#id#" shape="rect"      coords="199,225,265,270"        title="6"               data-cmd="#cmd_6_id#" />

<area class="touche_#id#" shape="rect"      coords="67,286,133,314"         title="7"               data-cmd="#cmd_7_id#" />
<area class="touche_#id#" shape="rect"      coords="133,286,199,314"        title="8"               data-cmd="#cmd_8_id#" />
<area class="touche_#id#" shape="rect"      coords="199,286,265,314"        title="9"               data-cmd="#cmd_9_id#" />

<area class="touche_#id#" shape="rect"      coords="133,314,199,359"        title="0"               data-cmd="#cmd_0_id#" />
<area class="touche_#id#" shape="rect"      coords="0,359,67,404"           title="Stop"            data-cmd="#cmd_STOP_id#" />
<area class="touche_#id#" shape="rect"      coords="199,404,265,445"        title="Record"          data-cmd="#cmd_REC_id#" />
<area class="touche_#id#" shape="rect"      coords="67,359,133,404"         title="Previous"        data-cmd="#cmd_FBWD_id#" />
<area class="touche_#id#" shape="rect"      coords="133,359,199,404"        title="Play/Pause"      data-cmd="#cmd_PLAY-PAUSE_id#" />
<area class="touche_#id#" shape="rect"      coords="199,359,265,404"        title="Next"            data-cmd="#cmd_FFWD_id#" />
<area class="touche_#id#" shape="rect"      coords="265,314,330,359"        title="Refresh"         data-cmd="#cmd_REFRESH_id#" />
</map>

<!-- theme light -->
<map name="Map_light_#id#" style="display: none;">
<area class="touche_#id#" shape="rect"      coords="0,0,51,50"              title="ON/OFF"          data-cmd="#cmd_ON-OFF_id#" />
<area class="touche_#id#" shape="rect"      coords="0,131,51,177"           title="Menu"            data-cmd="#cmd_MENU_id#" />
<area class="touche_#id#" shape="rect"      coords="280,0,330,50"           title="Back"            data-cmd="#cmd_BACK_id#" />
<area class="touche_#id#" shape="rect"      coords="280,131,330,177"        title="OK"              data-cmd="#cmd_OK_id#" />
<area class="touche_#id#" shape="rect"      coords="123,0,206,50"           title="Up"              data-cmd="#cmd_UP_id#" />
<area class="touche_#id#" shape="rect"      coords="123,131,206,177"        title="Down"            data-cmd="#cmd_DOWN_id#" />
<area class="touche_#id#" shape="rect"      coords="51,50,123,131"          title="Left"            data-cmd="#cmd_LEFT_id#" />
<area class="touche_#id#" shape="rect"      coords="206,50,280,131"         title="Right"           data-cmd="#cmd_RIGHT_id#" />
<area class="touche_#id#" shape="rect"      coords="0,177,66,260"           title="Volume up"       data-cmd="#cmd_VOL+_id#" />
<area class="touche_#id#" shape="rect"      coords="0,260,66,339"           title="Volume down"     data-cmd="#cmd_VOL-_id#" />
<area class="touche_#id#" shape="rect"      coords="0,339,66,392"           title="Mute"            data-cmd="#cmd_MUTE_id#" />
<area class="touche_#id#" shape="rect"      coords="265,177,330,260"        title="Channel up"      data-cmd="#cmd_CH+_id#" />
<area class="touche_#id#" shape="rect"      coords="265,260,330,339"        title="Channel down"    data-cmd="#cmd_CH-_id#" />
<area class="retour_#id#" shape="rect"      coords="265,339,330,392"        title="Mosaique" />
<area class="touche_#id#" shape="rect"      coords="66,177,132,231"         title="1"               data-cmd="#cmd_1_id#" />
<area class="touche_#id#" shape="rect"      coords="132,177,198,231"        title="2"               data-cmd="#cmd_2_id#" />
<area class="touche_#id#" shape="rect"      coords="198,177,265,231"        title="3"               data-cmd="#cmd_3_id#" />
<area class="touche_#id#" shape="rect"      coords="66,231,132,286"         title="4"               data-cmd="#cmd_4_id#" />
<area class="touche_#id#" shape="rect"      coords="132,231,198,286"        title="5"               data-cmd="#cmd_5_id#" />
<area class="touche_#id#" shape="rect"      coords="198,231,265,286"        title="6"               data-cmd="#cmd_6_id#" />
<area class="touche_#id#" shape="rect"      coords="66,286,132,339"         title="7"               data-cmd="#cmd_7_id#" />
<area class="touche_#id#" shape="rect"      coords="132,286,198,339"        title="8"               data-cmd="#cmd_8_id#" />
<area class="touche_#id#" shape="rect"      coords="198,286,265,339"        title="9"               data-cmd="#cmd_9_id#" />
<area class="touche_#id#" shape="rect"      coords="132,339,198,392"        title="0"               data-cmd="#cmd_0_id#" />
<area class="touche_#id#" shape="rect"      coords="0,392,66,445"           title="Stop"            data-cmd="#cmd_STOP_id#" />
<area class="touche_#id#" shape="rect"      coords="66,392,132,445"         title="Record"          data-cmd="#cmd_REC_id#" />
<area class="touche_#id#" shape="rect"      coords="132,392,198,445"        title="Previous"        data-cmd="#cmd_FBWD_id#" />
<area class="touche_#id#" shape="rect"      coords="198,392,265,445"        title="Play/Pause"      data-cmd="#cmd_PLAY-PAUSE_id#" />
<area class="touche_#id#" shape="rect"      coords="265,392,330,445"        title="Next"            data-cmd="#cmd_FFWD_id#" />
</map>
</div>
</div>
