<div id="plugin_container" class="eqLogic-widget eqLogic" style="width:300px;height:410px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="#version#" >
<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</strong></a
<div style="width:300px;height:410px;margin:auto;padding: 20px 0px">
<!-- 1ère ligne -->
<div>

<span title="#mos_Mosaique_1#" class="1" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_1_id#" style="margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_1#.png /></a>
<script>
		$('.1[data-cmd_id=#mos_Mosaique_1_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_1_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_2#" class="2" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_2_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_2#.png /></a>
<script>
		$('.2[data-cmd_id=#mos_Mosaique_2_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_2_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_3#" class="3" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_3_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_3#.png /></a>
<script>
		$('.3[data-cmd_id=#mos_Mosaique_3_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_3_id#'});
		});
		
</script>
</span>

</div>

<!-- 2ème ligne -->
<div>
<span title="#mos_Mosaique_4#" class="4" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_4_id#" style="margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_4#.png /></a>
<script>
		$('.4[data-cmd_id=#mos_Mosaique_4_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_4_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_5#" class="5" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_5_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_5#.png /></a>
<script>
		$('.5[data-cmd_id=#mos_Mosaique_5_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_5_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_6#" class="6" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_6_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_6#.png /></a>
<script>
		$('.6[data-cmd_id=#mos_Mosaique_6_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_6_id#'});
		});
		
</script>
</span>
</div>

<!-- 3ème ligne -->
<div>
<span title="#mos_Mosaique_7#" class="7" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_7_id#" style="margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_7#.png /></a>
<script>
		$('.7[data-cmd_id=#mos_Mosaique_7_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_7_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_8#" class="8" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_8_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_8#.png /></a>
<script>
		$('.8[data-cmd_id=#mos_Mosaique_8_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_8_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_9#" class="9" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_9_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_9#.png /></a>
<script>
		$('.9[data-cmd_id=#mos_Mosaique_9_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_9_id#'});
		});
		
</script>
</span>
</div>

<!-- 4ème ligne -->
<div>
<span title="#mos_Mosaique_10#" class="10" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_10_id#" style="margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_10#.png /></a>
<script>
		$('.10[data-cmd_id=#mos_Mosaique_10_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_10_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_11#" class="11" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_11_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_11#.png /></a>
<script>
		$('.11[data-cmd_id=#mos_Mosaique_11_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_11_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_12#" class="12" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_12_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_12#.png /></a>
<script>
		$('.12[data-cmd_id=#mos_Mosaique_12_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_12_id#'});
		});
		
</script>
</span>
</div>

<!-- 5ème ligne -->
<div>
<span title="#mos_Mosaique_13#" class="13" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_13_id#" style="margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_13#.png /></a>
<script>
		$('.13[data-cmd_id=#mos_Mosaique_13_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_13_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_14#" class="14" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_14_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_14#.png /></a>
<script>
		$('.14[data-cmd_id=#mos_Mosaique_14_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_14_id#'});
		});
		
</script>
</span>

<span title="#mos_Mosaique_15#" class="15" data-type="action" data-subtype="other" data-cmd_id="#mos_Mosaique_15_id#" style="margin-left: -2px; margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/#mos_Mosaique_15#.png /></a>
<script>
		$('.15[data-cmd_id=#mos_Mosaique_15_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Mosaique_15_id#'});
		});
		
</script>
</span>
</div>
<!-- 5ème ligne -->
<div>
<span title="Télécommande" class="retour" data-type="action" data-subtype="other" data-cmd_id="#mos_Telecommande_id#" style="margin-right: -2px">
<a class="action" style="cursor: pointer;"><img src=plugins/JeeOrangeTv/doc/images/mosaique/retour.png /></a>
<script>
		$('.retour[data-cmd_id=#mos_Telecommande_id#] .action').on('click', function () {
					jeedom.cmd.execute({id: '#mos_Telecommande_id#'});
		});
		
</script>
</span>
</div>
</div>
</div>